<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css" />
		<link rel="stylesheet" href="css/bootstrap-select.min.css" />
		<link rel="stylesheet" href="css/admin.css" />
		<link rel="stylesheet" href="css/app/admin.css" />
		<link rel="stylesheet" href="js/lib/jquery-layer/skin/layer.css" />
		<link rel="stylesheet" href="css/css/font-awesome.min.css" />
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/lib/bootstrap-select/bootstrap-select.min.js"></script>
		<script src="js/app/page.js"></script>
		<script src="js/lib/jquery-layer/layer.min.js"></script>
		<script src="js/app/my-course-page.js"></script>
	</head>

	<body style="background-color: #f6f6f6;font-family: '微软雅黑';">
		<div id="header"></div>
		<div id="side"></div>
		<div style="margin:67px 10px 50px 200px;">
			<h2 style="font-size: 23px;font-weight: 400;padding: 9px 15px 4px 0;line-height: 29px;margin-top: 0;font-family: '微软雅黑';"><i class="fa  fa-calendar" style="margin-right: 10px;"> </i>我的课程</h2>
	         <ul id="course-list" class="list-unstyled ">
	         	<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         		<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         		<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         		<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         		<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         		<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         		<li class="clearfix">
	         		<ul class="list-unstyled col-sm-8 ">
	         			<li class="course-name"> 高频电子电路</li>
	         			<li><span class="course-info"><i class="fa fa-mortar-board (alias)"></i>赵晓翔</span><span class="course-info"><i class="fa  fa-history"></i>1-17周 周一 5-6节</span><span class="course-info"><i class="fa  fa-institution (alias)"></i>东B303</span><span class="course-info"><i class="fa  fa-group (alias)"></i>11人参与</span></li>
	         		</ul>
	         		<div class="col-sm-4 delete">
	         			<label class="label label-info">删除</label> 
	         		</div>
	         	</li>
	         </ul>
	         
	
		</div>
	</body>

</html>
