	
<div class="sidebar-scroll" style="overflow: hidden; outline: none;">
    <div class="nav-collapse" id="sidebar" style="height: 0px;">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="sidebar-menu" >
            <li class="sub-menu" id="admin-post">
                <a class="" href="javascript:;">
                    <i class="icon-user"></i>
                    <span>新闻管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li id="admin-post-form"><a href="post-form.html" target="_top">发布新闻</a></li>
                    <li id="admin-post-manage"><a href="post-manage.html" >新闻管理</a></li>
                </ul>
            </li>    
             <li class="sub-menu" id="admin-user">
                <a class="" href="javascript:;">
                    <i class="icon-user"></i>
                    <span>用户管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li id="admin-post-form"><a href="user-form.html" target="_top">新增用户</a></li>
                    <li id="admin-post-manage"><a href="user-manage.html" >用户管理</a></li>
                </ul>
            </li> 
               <li class="sub-menu" id="admin-office">
                <a class="" href="javascript:;">
                    <i class="icon-user"></i>
                    <span>部门管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li id="admin-post-form"><a href="user-form.html" target="_top">新增部门</a></li>
                    <li id="admin-post-manage"><a href="user-manage.html" >部门管理</a></li>
                </ul>
            </li> 
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<script src="js/app/menu.js"></script>
