<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css" />
		<link rel="stylesheet" href="css/bootstrap-select.min.css" />
	    <link rel="stylesheet" href="../../css/admin.css" />
		<link rel="stylesheet" href="../../css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/jstree/style.min.css" />
		<script src="../../js/jquery-1.9.1.min.js"></script>
		<script src="js/lib/jstree.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<!--<script src="../../js/app/admin/menu.js"></script>-->
		<!--<script src="../../js/app/admin/user-form-page.js"></script>-->
		<script src="../../js/app/admin/public-page.js"></script>
	</head>
	<body style="background-color: #f6f6f6;font-family: '微软雅黑';">			
		<div id="header"></div>
		<div id="side"></div>
		<div style="margin-left: 200px;margin-top: 52px;">
		<h2 style="font-size: 23px;font-weight: 400;padding: 9px 15px 4px 0;line-height: 29px;margin-top: 0;font-family: '微软雅黑';">新建用户</h2>
<form id="user-form" class="form-horizontal" style="padding: 15px;">
	<div class="form-group">
        <label for="loginName" class="col-sm-2 control-label"><span class="text-fill">*</span>登录名</label>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm required" id="loginName" name="loginName"  title="登录名必须填写">
        </div>
	</div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-3">
            <input type="text" class="form-control input-sm" id="name" name="name" >
        </div>
       <label for="phone" class="col-sm-2 control-label">手机号</label>
		<div class="col-sm-3">
			<input type="text" class="form-control input-sm" id="phone" name="phone" >
		</div>
    </div>
	<!-- 初始密码 -->
	<c:if test="${user.id eq null}">
	<div class="form-group">
		<label for="plainPassword" class="col-sm-2 control-label"><span class="text-fill">*</span>初始密码</label>
		<div class="col-sm-3">
			<input type="password" class="form-control input-sm required" id="plainPassword" name="plainPassword" title="密码必须填写">
		</div>
		<label for="confirmPassword" class="col-sm-2 control-label"><span class="text-fill">*</span>重复密码</label>
		<div class="col-sm-3">
			<input type="password" class="form-control input-sm required" id="confirmPassword" name="confirmPassword" equalTo="#plainPassword" title="两次输入密码必须一致"/>
		</div>
	</div>
	</c:if>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label"><span class="text-fill">*</span>邮箱</label>
        <div class="col-sm-3">
            <input type="email" class="form-control input-sm" id="email" name="email" title="邮箱必须填写">
        </div>
    </div> 
    	<div class="form-group">
    	   <label for="phone" class="col-sm-2 control-label">所属部门</label>
        <div class="col-sm-3">
            <input type="hidden" id="office-id" name="office.id" />
            <div class="input-group">
                <input type="text" class="form-control" id="office-name"  readonly>
                  <span class="input-group-btn">
                    <button class="btn btn-default office-select" type="button" style="margin-top: 3px;"><i class="glyphicon glyphicon-home"></i></button>
                  </span>
            </div>
        </div>
	</div>

    	<div class="form-group">
							<label class="col-sm-2 control-label">用户身份</label>
							<div class="col-sm-10 ">
								<div class="radio abc-radio pull-left" style="margin-right: 40px;">
									<input type="radio" name="radio" id="yes" value="" checked>
									<label for="yes">用户 </label>
								</div>
								<div class="radio abc-radio">
									<input type="radio" name="radio" id="no" value="" >
									<label for="no">管理员</label>
								</div>
							</div>
		</div>
		  	<div class="form-group">
							<label class="col-sm-2 control-label">账号状态</label>
							<div class="col-sm-10 ">
								<div class="radio abc-radio pull-left" style="margin-right: 40px;" >
									<input type="radio" name="state" id="yes" value="" checked >
									<label for="yes">正常 </label>
								</div>
								<div class="radio abc-radio " >
									<input type="radio" name="state" id="no" value="" >
									<label for="no">失效</label>
								</div>
							
							</div>
		</div>
    <div style="clear:both" >
        <shiro:hasPermission name="sys:menu:edit">
            <button id="user-submit" class="btn btn-primary btn-sm" type="button">保 存</button>
        </shiro:hasPermission>
        <button id="user-cancel" class="btn btn-sm" type="button" onclick="history.go(-1)">返 回</button>
    </div>
</form>
</div>
<div class="modal " id="office-select-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:350px;padding-top:60px;">
		<div class="modal-content" >
		<div class="modal-header" style="padding:5px;text-align:center;">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">部门选择</h4>
	</div>
     <div><input placeholder="输入搜索选项" class="form-control" id="search-staff"></div>
		<div class="modal-body" style="padding:10px;height:350px;overflow-y: auto;"><div id="office-select-modal-content"></div></div>
		<div class="modal-footer" style="padding:10px;">
		<button type="button" id="sure" class="btn btn-sm btn-default" >确定</button>
		</div>
		</div>
		</div>
		</div>

	</body>

</html>
